
body {
    font-family: 'Press Start 2P';
    background-color: black;
    color: white;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.box {
    background-color: black;
    border: 3px solid white;
    color: white;
}
.container {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    height: 75%;
}
